{% extends "layouts/base.twig" %}
{% set pageName = 'Homepage' %}
{% set body_class = 'hmpg' %}

{% block header %}
  {% include 'partials/_header-light.twig' %}
{% endblock %}

{% block content %}
  <div class="jumbotron hmpg-jumbotron">
    <div class="container">
      <h1 class="text-center">Buy bitcoins instantly.</h1>
      <p class="text-center">Use Paxful marketplace to buy and sell bitcoins and pay with over 350 payment methods, including PayPal, iTunes Gift card, Amazon Gift card and many more.</p>
      <p class="text-center">
        <a href="">See how it works →</a>
      </p>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12 col-sm-offset-0 col-xs-offset-0 ">
        <div class="panel panel-default hmpg-panel">
          <div class="panel-heading hidden-xs hidden-sm">
            <form class="form-inline">
              <div class="form-group">
                <p>I want to buy</p>
              </div>
              <div class="form-group">
                <label for="bitcoins" class="sr-only">How much money are you willing to spend?</label>
                <input type="text" class="form-control input-md" id="bitcoins" placeholder="i.e. 50">
              </div>
              <div class="form-group">
                <label for="currency" class="sr-only">Currency</label>
                <select class="selectpicker" data-style="btn-inverted input-lg">
                  <option>$</option>
                  <option>€</option>
                  <option>£</option>
                  <option>₽</option>
                </select>
              </div>
              <div class="form-group">
                <p>worth  of Bitcoin with</p>
              </div>
            </form>
          </div>
          <div class="panel-heading panel-heading-mobile hidden-md hidden-lg">
            <form action="">
              <div class="form-group text-center">
                <p>I want to buy Bitcoins for</p>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <input type="text" placeholder="Amount" class="form-control input-lg" aria-label="...">
                  <div class="input-group-btn">
                    <select class="selectpicker" data-style="btn-default btn-lg" data-width="7rem">
                      <option>$</option>
                      <option>€</option>
                      <option>£</option>
                      <option>₽</option>
                    </select>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="panel-body hmpg-grid">
            <div class="hmpg-card">
              <img src="assets/images/payment-itunes.png" alt="iTunes gift card">
              <h3>iTunes Gift Card
                <small>iTunes, Inc.</small>
              </h3>
              <a href="" class="btn btn-primary btn-block">Buy now</a>
            </div>
            <div class="hmpg-card">
              <img src="assets/images/payment-amazon-card.png" alt="Amazon gift card">
              <h3>Amazon Gift Card
                <small>Amazon, Inc.</small>
              </h3>
              <a href="" class="btn btn-primary btn-block">Buy now</a>
            </div>
            <div class="hmpg-card">
              <img src="assets/images/payment-paypal.png" alt="PayPal">
              <h3>PayPal Online
                <small>PayPal, Inc.</small>
              </h3>
              <a href="" class="btn btn-primary btn-block">Buy now</a>
            </div>
            <div class="hmpg-card">
              <img src="assets/images/payment-western-union.png" alt="Western Union">
              <h3>Western Union
                <small>PayPal, Inc.</small>
              </h3>
              <a href="" class="btn btn-primary btn-block">Buy now</a>
            </div>
            <div class="hmpg-card">
              <img src="assets/images/payment-itunes.png" alt="MoneyGram">
              <h3>MoneyGram
                <small>MoneyGram, Inc.</small>
              </h3>
              <a href="" class="btn btn-primary btn-block">Buy now</a>
            </div>
            <div class="hmpg-card">
              <img src="assets/images/payment-itunes.png" alt="Skrill">
              <h3>Skrill
                <small>Skrill, Inc.</small>
              </h3>
              <a href="" class="btn btn-primary btn-block">Buy now</a>
            </div>
            <div class="hmpg-card">
              <img src="assets/images/payment-cards.png" alt="Credit cards">
              <h3>Credit Cards</h3>
              <a href="" class="btn btn-primary btn-block">Buy now</a>
            </div>
            <div class="hmpg-card">
              <img src="assets/images/payment-itunes.png" alt="OneVanilla">
              <h3>OneVanilla
                <small>OneVanilla, Inc.</small>
              </h3>
              <a href="" class="btn btn-primary btn-block">Buy now</a>
            </div>
            <div class="hmpg-card">
              <img src="assets/images/payment-itunes.png" alt="Walmart gift card">
              <h3>Walmart Gift Card
                <small>Walmart, Inc.</small>
              </h3>
              <a href="" class="btn btn-primary btn-block">Buy now</a>
            </div>
            <div class="hmpg-card">
              <span class="icon-more">+</span>
              <h3>More options
                <small>+300 options to pay</small>
              </h3>
              <a href="" class="btn btn-primary btn-block">View now</a>
            </div>
          </div>
        </div>
        <p class="note">Based on the amount we are always showing the best offer for BTC and the value.</p>
      </div>
    </div>
    
    <div class="row hmpg-payments">
      <div class="jumbotron--extraheight">
        <h2 class="text-center">Pay for BitCoin with one of over 300 payment methods</h2>

        <div class="hmpg-grid">
          <div class="col-md-3 hmpg-payment">
            <img srcset="assets/images/img_giftcard@2x.png 2x" src="assets/images/img_giftcard.png" class="hmpg-payment__icon" alt="Gift card">
            <h3 class="text-uppercase">Gift Cards</h3>
            <div class="hmpg-payment__labels">
              <span class="label label-default">Instant</span><span class="label label-default">Private</span>
              <hr>
            </div>
            <p>Want to buy $20 of bitcoin fast? Gift cards are accepted. Buy one with cash (save the receipt too) at your local drugstore and exchange it here for instant bitcoin.</p>
            <p class="hmpg-payment__highlight">OneVanilla VISA/MasterCard, Amazon, Target, GameStop, BestBuy, WalMart and many more.</p>
            <a href="" class="btn btn-primary btn-block btn-lg">Buy with Gift Card</a>
          </div>
          <div class="col-md-3 hmpg-payment">
            <img srcset="assets/images/img_wallet@2x.png 2x" src="assets/images/img_wallet.png" class="hmpg-payment__icon" alt="Gift card">
            <h3 class="text-uppercase">Online Wallet</h3>
            <div class="hmpg-payment__labels">
              <span class="label label-default">Instant</span><span class="label label-default">ID may be required</span>
              <hr>
            </div>
            <p>Want to buy $20 of bitcoin fast? Gift cards are accepted. Buy one with cash (save the receipt too) at your local drugstore and exchange it here for instant bitcoin.</p>
            <p class="hmpg-payment__highlight">OneVanilla VISA/MasterCard, Amazon, Target, GameStop, BestBuy, WalMart and many more.</p>
            <a href="" class="btn btn-primary btn-block btn-lg">Buy with Online Wallet</a>
          </div>
          <div class="col-md-3 hmpg-payment">
            <img srcset="assets/images/img_cashdeposit@2x.png 2x" src="assets/images/img_cashdeposit.png" class="hmpg-payment__icon" alt="Gift card">
            <h3 class="text-uppercase">Cash Deposits</h3>
            <div class="hmpg-payment__labels">
              <span class="label label-default">Best price</span><span class="label label-default">&lt; 1 hour</span><span class="label label-default">Private</span>
              <hr>
            </div>
            <p>Don't want to leave the house? If you have an online wallet account and don't mind uploading ID you can have bitcoin instantly.</p>
            <p class="hmpg-payment__highlight">PayPal, Serve to Serve transfer, Skrill, NetSpend, PerfectMoney, OkPay, Paxum and other major online wallets.</p>
            <a href="" class="btn btn-primary btn-block btn-lg">Buy with Cash Deposit</a>
          </div>
          <div class="col-md-3 hmpg-payment">
            <img srcset="assets/images/img_giftcard@2x.png 2x" src="assets/images/img_giftcard.png" class="hmpg-payment__icon" alt="Gift card">
            <h3 class="text-uppercase">Credit/Debit Card</h3>
            <div class="hmpg-payment__labels">
              <span class="label label-default">Instant</span><span class="label label-default">ID may be required</span>
              <hr>
            </div>
            <p>Want to use your personal debit/credit card? Upload ID and pay a bit more to the seller and you've got instant bitcoins.</p>
            <p class="hmpg-payment__highlight">Your personal VISA, MasterCard, AmEx debit and credit cards.</p>
            <a href="" class="btn btn-primary btn-block btn-lg">Buy with Credit/Debit</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="jumbotron__highlight jumbotron--extraheight hmpg-highlights">
    <div class="container">
      <div class="hmpg-grid hmpg-grid--centered">
        <div class="col-md-5 text-center">
          <h2>How Paxful is helpful for you</h2>
          <img srcset="assets/images/img_big_referafriend@2x.png 2x" src="assets/images/img_big_referafriend.png" alt="Refer a friend" class="hmpg-highlights__image">
        </div>
        <div class="col-md-7">
          <div class="media hmpg-highlight">
            <div class="media-left">
              <img class="media-object" srcset="assets/images/img_purchase@2x.png 2x" src="assets/images/img_purchase.png" alt="">
            </div>
            <div class="media-body">
              <h4 class="media-heading">Purchase easily</h4>
              <p>Buying bitcoin directly from other people makes it even simpler. Just sign up and buy right away. You pay sellers directly from your personal accounts.</p>
            </div>
          </div>
          <div class="media hmpg-highlight">
            <div class="media-left">
              <img class="media-object" srcset="assets/images/img_livechat@2x.png 2x" src="assets/images/img_livechat.png" alt="">
            </div>
            <div class="media-body">
              <h4 class="media-heading">Instant live chat</h4>
              <p>First time buying bitcoin? Have questions? Once you start a trade an experienced seller will guide you through the process in a one on one live chat. Start by finding an offer you like!</p>
            </div>
          </div>
          <div class="media hmpg-highlight">
            <div class="media-left">
              <img class="media-object" srcset="assets/images/img_safe@2x.png 2x" src="assets/images/img_safe.png" alt="">
            </div>
            <div class="media-body">
              <h4 class="media-heading">Safe &amp; Secure</h4>
              <p>If you are a buyer you are 100% protected. We verify and check all of our sellers for your safety. Pay with confidence, 2-factor, escrow, highest level encryption and professionally audited security.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="jumbotron__photobg jumbotron__photobg--home jumbotron--extraheight">
    <div class="container">
      <div class="row">
        <div class="panel panel-default hmpg-featurebox col-md-5">
          <div class="panel-body text-center">
            <img srcset="assets/images/img_badge_paxfulwallet@2x.png 2x" src="assets/images/img_badge_paxfulwallet.png" alt="Paxful Wallet" class="hmpg-featurebox__icon">
            <h3>Store your bitcoins securely with Paxful Wallet.</h3>
            <p>Use Paxful marketplace to buy and sell bitcoins and pay with over 350 payment methods, including PayPal, iTunes Gift card, Amazon Gift card and many more.</p>
            <a href="" class="btn btn-primary btn-lg">Get Paxful Wallet</a>
            <p><a href="">Or buy Bitcoins first</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="jumbotron jumbotron--extraheight">
    <div class="container">
      <div class="hmpg-grid hmpg-grid--centered hmpg-startselling mobile-centered">
        <div class="col-md-5">
          <h2>Start selling bitcoins with Paxful</h2>
          <p class="p--extraspace">Start selling bitcoins with Paxful and join hundreds Paxful Vendors in earning six figures from the comfort of their home.</p>
          <a href="" class="btn btn-primary btn-lg">I want to sell bitcoins</a>
          <a href="" class="mobile-block hmpg-startselling__link">Or learn how it works</a>
        </div>
        <div class="col-md-7">
          <div class="hmpg-grid">
            <div class="hmpg-stat text-center col-md-4">
              <div class="hmpg-stat__icon">
                <img srcset="assets/images/img_single_bitcoinstack@2x.png 2x" src="assets/images/img_single_bitcoinstack.png" alt="Paxful Wallet">
              </div>
              <div class="hmpg-stat__number">
                40,000+
              </div>
              <p class="hmpg-stat__note">
                Bitcoins bought
              </p>
            </div>
            <div class="hmpg-stat text-center col-md-4">
              <div class="hmpg-stat__icon">
                <img srcset="assets/images/img_single_bitcoinvendor@2x.png 2x" src="assets/images/img_single_bitcoinvendor.png" alt="Paxful Wallet" class="hmpg-stat__icon">
              </div>
              <div class="hmpg-stat__number">
                1,289
              </div>
              <p class="hmpg-stat__note">
                Trusted vendors
              </p>
            </div>
            <div class="hmpg-stat text-center col-md-4">
              <div class="hmpg-stat__icon">
                <img srcset="assets/images/img_single_cart@2x.png 2x" src="assets/images/img_single_cart.png" alt="Paxful Wallet" class="hmpg-stat__icon">
              </div>
              <div class="hmpg-stat__number">
                55,125
              </div>
              <p class="hmpg-stat__note">
                Happy customers
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="jumbotron__photobg jumbotron__photobg--work jumbotron--extraheight">
    <div class="container">
      <div class="row">
        <div class="panel panel-default hmpg-featurebox col-md-5">
          <div class="panel-body text-center">
            <img srcset="assets/images/img_badge_piggiebank@2x.png 2x" src="assets/images/img_badge_piggiebank.png" alt="Paxful Wallet" class="hmpg-featurebox__icon">
            <h3>Earn money with Affiliate Partner Program</h3>
            <p>At Paxful, we reward everyone who helps us grow and become a better bitcoin marketplace. For regular bitcoin buyers we have developed Refer-a-Friend program.</p>
            <a href="" class="btn btn-primary btn-lg">Become an affiliate</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="jumbotron__photobg jumbotron__photobg--map jumbotron--extraheight">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
          <h2>Target 2.5 billion new customers with Paxful Checkout all over the world</h2>
          <p class="p--extraspace">Pay With Paxful as an e-commerce check-out option will put you in the frontier of merchants and exposes to 2.5 billion new customers who are interested in paying with Bitcoins that are acquired with alternative payment methods.</p>
          <a href="" class="btn btn-primary btn-lg">I want to sell bitcoins</a>
          <div class="hmpg-video">
            <h3>See how Paxful works:</h3>
            <a href="" class="hmpg-video__placeholder">
              <img src="assets/images/paul-bence-222393.jpg" alt="Paxful Piggibank">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

      
  <div class="jumbotron jumbotron__highlight jumbotron--extraheight hmpg-media">
    <div class="container">
      <div class="row">
       <h3 class="text-center">Paxful in Media</h3>
        <div class="hmpg-carousel">
         <div class="hmpg-carousel__slides js-slider">
           <div class="hmpg-carousel__item">
            <div class="hmpg-carousel__caption">
              <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</p>
              <p>- Lorem 1 Ipsum</p>
            </div>
          </div>
          <div class="hmpg-carousel__item">
            <div class="hmpg-carousel__caption">
              <p>"Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
              <p>- Lorem 2 Ipsum</p>
            </div>
          </div>
          <div class="hmpg-carousel__item">
            <div class="hmpg-carousel__caption">
              <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
              <p>- Lorem 3 Ipsum</p>
            </div>
          </div>
         </div>
          
          <!-- Controls -->
          <a class="hmpg-carousel__control hmpg-carousel__control--prev js-slider-prev">
            <span class="sr-only">Previous</span>
          </a>
          <a class="hmpg-carousel__control hmpg-carousel__control--next js-slider-prev">
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="hmpg-grid hmpg-testimonials">
            <a class="hmpg-grid__item hmpg-testimonials__item">
              <img src="assets/images/testimonial-1.png" alt="" class="hmpg-testimonials__image"> 
            </a>
            <a class="hmpg-grid__item hmpg-testimonials__item">
              <img src="assets/images/testimonial-2.png" alt="" class="hmpg-testimonials__image"> 
            </a>
            <a class="hmpg-grid__item hmpg-testimonials__item">
              <img src="assets/images/testimonial-3.png" alt="" class="hmpg-testimonials__image"> 
            </a>
            <a class="hmpg-grid__item hmpg-testimonials__item">
              <img src="assets/images/testimonial-4.png" alt="" class="hmpg-testimonials__image"> 
            </a>
            <a class="hmpg-grid__item hmpg-testimonials__item">
              <img src="assets/images/testimonial-5.png" alt="" class="hmpg-testimonials__image"> 
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="jumbotron__photobg jumbotron__photobg--business jumbotron--megaheight text-center">
    <div class="container">
      <h2 class="hmpg-cta">
        Have a business and are ready to take on new markets?
        <div class="highlight">Join Paxful Merchant Program today!</div>
      </h2>
      <a href="" class="btn btn-primary btn-lg">Get Pay with Paxful</a>
    </div>
  </div>
  
  <footer class="hmpg-footer">
    <div class="container">
      <div class="row">
          <div class="col-md-2">
            <ul class="list-unstyled">
              <li><p><a href="#">Buy bitcoins</a></p></li>
              <li><p><a href="#">Sell bitcoins</a></p></li>
              <li><p><a href="#">Start trading</a></p></li>
              <li><p><a href="#">Get Bitcoin Wallet</a></p></li>
            </ul>
          </div>
          <div class="col-md-3">
            <ul class="list-unstyled">
              <li><p><a href="#">How it works?</a></p></li>
              <li><p><a href="#">Paxful for business</a></p></li>
              <li><p><a href="#">Become a vendor</a></p></li>
              <li><p><a href="#">Become Affiliate</a></p></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h5>Support:</h5>
            <p>Phone: +1 (865) 272-9385</p>
            <p>Support Email (FAST): <a href="">help@paxful.com</a></p>
            <p>Business Email: <a href="">help@paxful.com</a></p>
          </div>
          <div class="col-md-3">
            <h5>Keep in touch:</h5>
            <a href="" class="hmpg-footer__icon">
              <img src="assets/images/icon_svg_facebook.svg" alt="">
            </a>
            <a href="" class="hmpg-footer__icon">
              <img src="assets/images/icon_svg_twitter.svg" alt="">
            </a>
            <a href="" class="hmpg-footer__icon">
              <img src="assets/images/icon_svg_google.svg" alt="">
            </a>
          </div>
      </div>
      <hr>
      <div class="hmpg-grid">
        <p class="hmpg-grid__item">
          <a href="#"><img src="assets/images/img_logo-footer.png" alt=""></a>
        </p>
        <p class="hmpg-grid__item">3422 Old Capitol Trail, PMB# 989, Wilmington DE 19808  •  <a href="">Legal</a>  •  <a href="#">Terms &amp; Conditions</a></p>
      </div>
    </div>
  </footer>
  

{% endblock %}