{% extends "layouts/base.twig" %}
{% set pageName = 'Homepage' %}
{% set body_class = 'hmpg' %}

{% block header %}
  {% include 'partials/_header-light.twig' %}
{% endblock %}

{% block content %}
  <div class="jumbotron hmpg-jumbotron">
    <div class="container">
      <h1 class="text-center">Buy bitcoins instantly.</h1>
      <p class="text-center">Use Paxful marketplace to buy and sell bitcoins and pay with over 350 payment methods, including PayPal, iTunes Gift card, Amazon Gift card and many more.</p>
      <p class="text-center">
        <a href="">See how it works →</a>
      </p>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default hmpg-panel">
          <div class="panel-heading">
            <form class="form-inline">
              <div class="form-group">
                <p>I want to buy</p>
              </div>
              <div class="form-group">
                <label for="bitcoins" class="sr-only">How much money are you willing to spend?</label>
                <input type="text" class="form-control input-md" id="bitcoins" placeholder="i.e. 50">
              </div>
              <div class="form-group">
                <label for="currency" class="sr-only">Currency</label>
                <select class="selectpicker" data-style="btn-inverted input-lg">
                  <option>$</option>
                  <option>€</option>
                  <option>£</option>
                  <option>د.ك</option>
                  <option>₽</option>
                </select>
              </div>
              <div class="form-group">
                <p>worth of Bitcoin with</p>
              </div>
            </form>
          </div>
          <div class="panel-body">
            <div class="hmpg-card">
              <img src="assets/images/payment-itunes.png" alt="iTunes gift card">
              <h3>iTunes Gift Card
                <small>iTunes, Inc.</small>
              </h3>
              <a href="" class="btn btn-primary btn-block">Buy now</a>
            </div>
            <div class="hmpg-card">
              <img src="assets/images/payment-amazon-card.png" alt="Amazon gift card">
              <h3>Amazon Gift Card
                <small>Amazon, Inc.</small>
              </h3>
              <a href="" class="btn btn-primary btn-block">Buy now</a>
            </div>
            <div class="hmpg-card">
              <img src="assets/images/payment-paypal.png" alt="PayPal">
              <h3>PayPal Online
                <small>PayPal, Inc.</small>
              </h3>
              <a href="" class="btn btn-primary btn-block">Buy now</a>
            </div>
            <div class="hmpg-card">
              <img src="assets/images/payment-western-union.png" alt="Western Union">
              <h3>Western Union
                <small>PayPal, Inc.</small>
              </h3>
              <a href="" class="btn btn-primary btn-block">Buy now</a>
            </div>
            <div class="hmpg-card">
              <img src="assets/images/payment-itunes.png" alt="MoneyGram">
              <h3>MoneyGram
                <small>MoneyGram, Inc.</small>
              </h3>
              <a href="" class="btn btn-primary btn-block">Buy now</a>
            </div>
            <div class="hmpg-card">
              <img src="assets/images/payment-itunes.png" alt="Skrill">
              <h3>Skrill
                <small>Skrill, Inc.</small>
              </h3>
              <a href="" class="btn btn-primary btn-block">Buy now</a>
            </div>
            <div class="hmpg-card">
              <img src="assets/images/payment-cards.png" alt="Credit cards">
              <h3>Credit Cards</h3>
              <a href="" class="btn btn-primary btn-block">Buy now</a>
            </div>
            <div class="hmpg-card">
              <img src="assets/images/payment-itunes.png" alt="OneVanilla">
              <h3>OneVanilla
                <small>OneVanilla, Inc.</small>
              </h3>
              <a href="" class="btn btn-primary btn-block">Buy now</a>
            </div>
            <div class="hmpg-card">
              <img src="assets/images/payment-itunes.png" alt="Walmart gift card">
              <h3>Walmart Gift Card
                <small>Walmart, Inc.</small>
              </h3>
              <a href="" class="btn btn-primary btn-block">Buy now</a>
            </div>
            <div class="hmpg-card">
              <span class="icon-more">+</span>
              <h3>More options
                <small>+300 options to pay</small>
              </h3>
              <a href="" class="btn btn-primary btn-block">View now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
  
  
  
  
<!--
  <select class="selectpicker" data-style="btn-default btn-lg">
    <option>Mustard</option>
    <option>Ketchup</option>
    <option>Relish</option>
  </select>
   
  <select class="selectpicker" data-style="btn-warning">
    <option>Mustard</option>
    <option>Ketchup</option>
    <option>Relish</option>
  </select>
   
  <select class="selectpicker" data-style="btn-inverted">
    <option>Mustard</option>
    <option>Ketchup</option>
    <option>Relish</option>
  </select>
  
  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
        <input type="text" placeholder="test text" class="form-control" aria-label="...">
        <div class="input-group-btn">
          <select class="selectpicker" data-style="btn-default">
            <option>Mustard</option>
            <option>Ketchup</option>
            <option>Relish</option>
          </select>
        </div>
      </div>
    </div>
  </div>
-->
{% endblock %}