{% extends "layouts/base.twig" %}
{% set pageName = 'Homepage' %}

{% block header %}
  {% include 'partials/_header-light.twig' %}
{% endblock %}

{% block content %}
  <h1>Hello world</h1>
  <p>skjhdfkjsdh sjdfh ksjdhf</p>
  <select class="selectpicker" data-style="btn-default btn-lg">
    <option>Mustard</option>
    <option>Ketchup</option>
    <option>Relish</option>
  </select>
   
  <select class="selectpicker" data-style="btn-warning">
    <option>Mustard</option>
    <option>Ketchup</option>
    <option>Relish</option>
  </select>
{% endblock %}