{% extends "layouts/base.twig" %}
{% set pageName = 'Index' %}

{% block content %}
 
  <section class="c-intro">
   <div class="o-wrapper">
      <h1 class="c-intro__heading">Buy bitcoins instantly with gift card in currency</h1>
      
      {% include 'partials/_intro-box.twig' %}  
      
      <p class="c-intro__highlight">
        How would you like to buy bitcoin? Choose from our best offers based on your preferences and become a proud bitcoin user today! <br> Easy, fast, bitcoins.
      </p>
    </div>
  </section>
  
  
{% endblock %}
