{% extends "layouts/base.twig" %}
{% set pageName = 'Index' %}

{% block content %}
 
  <section class="c-intro">
   <div class="o-wrapper">
      <h1 class="c-intro__heading">Buy bitcoins instantly with gift card in currency</h1>
      
      {% include 'partials/_box.intro.twig' %}  
      
      <p class="c-intro__highlight">
        How would you like to buy bitcoin? Choose from our best offers based on your preferences and become a proud bitcoin user today! <br> Easy, fast, bitcoins.
      </p>
    </div>
  </section>
  
  <div class="o-wrapper">
    {% include 'partials/_element.tabs.twig' %}  
    
    {% for i in 1..5 %}
        {% include 'partials/_table.payment-method.twig' with {'id': i} %}
    {% endfor %}

    <article class="c-content">
      <header class="c-content__header">
        <h2 class="c-content__heading">
          Gift card offers
          <small class="c-content__note">
            Buy bitcoin using over 300 payment methods
          </small>
        </h2>
        <div class="c-content__controls u-flex">
          {% include 'partials/_form.checkbox-row.twig' %}  
        </div>
      </header>
      {% include 'partials/_table.offers.twig' %}  
      <footer class="c-content__footer u-align--right">
        <a href="" class="c-content__footer-link">View all Online Transfer Offers ></a> <br>
        <a href="" class="c-content__footer-link c-content__footer-link--light">Create your own trading offer for buying bitcon ></a>
      </footer>
    </article>

    <article class="c-content">
      <header class="c-content__header">
        <h2 class="c-content__heading">
          Gift card offers
          <small class="c-content__note">
            Buy bitcoin using over 300 payment methods
          </small>
        </h2>
        <div class="c-content__controls u-flex">
          {% include 'partials/_form.checkbox-row.twig' %}  
        </div>
      </header>
      {% include 'partials/_table.offers.twig' %}  
      <footer class="c-content__footer u-align--right">
        <a href="" class="c-content__footer-link">View all Online Transfer Offers ></a> <br>
        <a href="" class="c-content__footer-link c-content__footer-link--light">Create your own trading offer for buying bitcon ></a>
      </footer>
    </article>
   
    {% include 'partials/_box.payment-methods.twig' %}  
  </div>
  
{% endblock %}
