$reputation__color: $color_middle-grey;
$reputation__color--pos: $color_green;
$reputation__color--neg: $color_red;
$reputation__fs: $font-size_xs;

.c-reputation {
  color: $reputation__color;
  font-size: $reputation__fs;
  
  @include bp-mobile {
    display: inline-block;
    text-align: center;
  }
}

.c-reputation__pos {
  color: $reputation__color--pos;
  
  @include bp-mobile {
    display: block;
  }
}

.c-reputation__neg {
  color: $reputation__color--neg;
  
  @include bp-mobile {
    display: block;
  }
}

.c-reputation__reviews {
  padding-left: 0.3em;
  
  @include bp-mobile {
    display: none;
  }
}

