$location__color: $color_darker-greyblue;
$location__fs: $font-size_m;
$location__link-fs: $font-size_xxs;
$location__search-boradius: $global_border-radius;
$location__search-bcolor: #dfe3e9;
$location__search-bgcolor: $color_white;

.c-location {
  color: $location__color;
}

.c-location__current,
.c-location__current-link {
  display: inline-block;
}

.c-location__current {
  font-size: $location__fs;
}

.c-location__change-link {
  font-size: $location__link-fs;
  margin-left: 0.5em;
  opacity: 0.5;
  font-weight: 300;
  transition: opacity 0.2s;
  
  &:hover {
    opacity: 1;
  }
}

.c-location__selector {
  display: inline-block;
  position: absolute;
  width: 23rem;
  padding: 0.4rem;
  background: $location__search-bgcolor;
  border-radius: $location__search-boradius;
  border: 1px solid $location__search-bcolor;
  top: 100%;
  right: 0;
  
  &.is-hidden {
    display: none;
  }
}
