$tag__bgcolor: $color_middle-greyblue;
$tag__color: rgba($color_darkest-greyblue, 0.5);
$tag__fs: $font-size_xxs;
$tag__boradius: 0.2rem;

.c-tags {
  display: block;
}

.c-tag {
  display: inline-block;
  height: 2rem;
  line-height: 2rem;
  min-width: 7.3rem;
  padding: 0 0.4rem;
  margin: 0 0.2rem 0 0;
  font-size: $tag__fs;
  text-align: center;
  text-transform: uppercase;
  color: $tag__color; 
  background: $tag__bgcolor;
  border-radius: $tag__boradius;
  
  &--wide {
    min-width: 10rem;
    padding: 0 0.7rem;
  }
}