$dtable__bgcolor: $color_white;
$dtable__bgcolor--highlight: $color_lighter-greyblue;
$dtable__bcolor: $color_lightest-grey;
$dtable__boradius: $global_border-radius;
$dtable__fs: $font-size_m;

$dtable__th-color: $color_darker-greyblue;
$dtable__action-color: #bbc5d5;
$dtable__note-color: $color_darker-greyblue;
$dtable__note-fs: $font-size_xs;

/**
 * <table class="c-dtable">
 *     <tr>
 *       <th>one</th>
 *       <th>two</th>
 *       <th>three</th>
 *     </tr>
 *     <tr class="c-dtable__row">
 *       <td>some text</td>
 *       <td>some text</td>
 *       <td>some text</td>
 *     </tr>
 *     ...
 * </table>
 */

.c-dtable {
  width: 100%;
  background-color: $dtable__bgcolor;
  border-collapse: separate;
  border-spacing: 0;
//  table-layout: fixed;
  
  th, 
  td {
    padding: 1.6rem 3rem;
    text-align: left;
    font-weight: normal;
    border-bottom: 1px solid $dtable__bcolor;
  }
  
  th {
    color: $dtable__th-color;
    border-top: 1px solid $dtable__bcolor;
  }
  
  th:first-child,
  td:first-child {
    border-left: 1px solid $dtable__bcolor;
  }
  
  th:last-child,
  td:last-child {
    border-right: 1px solid $dtable__bcolor;
  }
  
  tr:first-child th:first-child  {
    border-top-left-radius: $dtable__boradius;
  }
  
  tr:first-child th:last-child  {
    border-top-right-radius: $dtable__boradius;
  }
  
  tr:last-child td:first-child  {
    border-bottom-left-radius: $dtable__boradius;
  }
  
  tr:last-child td:last-child  {
    border-bottom-right-radius: $dtable__boradius;
  }
}

.c-dtable--lighter {
  th, 
  td {
    padding-left: 8rem
  }
}

.c-dtable__row {
  &:hover {
    background-color: $dtable__bgcolor--highlight;
  }
}

.c-dtable__action-link {
  color: $dtable__action-color; 
  font-weight: 300;
  margin-left: 3.6rem;
}

.c-dtable__note {
  display: block;
  font-size: $dtable__note-fs;
  color: $dtable__note-color;
}

.c-dtable__filter-link {
  padding-right: 0.5em;
}