$button__color: $color_white;
$button__bgcolor: $color_darker-greyblue;
$button__bgcolor--primary: $color_tiffany;
$button__boradius: $global_border-radius;
  
/**
 * <a href="" class="c-button c-button--primary">
 *   Button text
 *   <span class="icon icon--button-icon" aria-hidden="true">
 *     <span class="u-visuallyhidden">Button icon text</span>
 *   </span>
 * </a>
 */

.c-button {
  display: inline-block;
  vertical-align: middle; 
  font: inherit; 
  text-align: center;
  text-decoration: none;
  margin: 0; 
  cursor: pointer;
  padding: 1rem 1.2rem;
  color: $button__color;
  border-radius: $button__boradius;
  border: none;
}

.c-button--primary {
  background: $button__bgcolor--primary;
}

.c-button--secondary {
  background: $button__bgcolor;
}

.c-button--fixedsize {
  height: 3.6rem;
  min-width: 8.6rem;
  padding: 0 1rem;
}