$checkbox__clear-link-color: rgba($color_darker-grey, 0.5);
$checkbox__clear-link-fs: $font-size_xxs;

.c-checkboxes {
  display: flex;
}

.c-checkbox {
  margin-right: 4.5rem;
  
  @include bp-mobile {
    display: inline-block;
    vertical-align: middle;
  }
}

.c-checkbox__clear {
  font-size: $checkbox__clear-link-fs;
  color: $checkbox__clear-link-color;
  line-height: 2.4em;
}