$box__bgcolor: $color_white;
$box__bcolor: $color_lightest-grey;
$box__boradius: $global_border-radius;

.c-box {
  background-color: $box__bgcolor;
  border: 1px solid $box__bcolor;
  border-radius: $box__boradius;
}

.c-box__header {
  border-bottom: 1px solid $box__bcolor;
}

.c-box__body {
  padding: 2rem;
}

.c-box__footer {
  padding: 1.2rem;
  padding-top: 0;
}