// Icons

.icon {
  position: relative;
  font-family: 'font-icons';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon--bitcoin {
  top: 0.1em;
  
  &:before {
    content: '\e7f5';
  }
}

.icon--settings:before {
  content: '\e69f';
}

.icon--bell:before {
  content: '\e754';
}

.icon--share:before {
  content: '\e6fd';
}

.icon--location:before {
  content: '\e75e';
}

.icon--sort:before {
  content: '\e77f';
}

.icon--search:before {
  content: 'e618';
}

.icon--arrow-down {
  top: 2px;
  
  &:before {
    content: '\e77a';
  }
}

.icon--tick:before {
  content: '\e6c8';
}