$usercard__boradius: $global_border-radius * 2;
$usercard__fs: $font-size_s;

.c-header__usercard {
  align-items: center;
}

.c-header__usercard-image {
  height: 3.5rem; 
  border-radius: $usercard__boradius;
}

.c-header__usercard-body {
  font-size: $usercard__fs;
  line-height: 1.25;
}

.c-header__usercard-name {
  
}

.c-header__usercard-balance {
  
}

.c-header__usercard-actions {
  
}