$header__nav_accent-color: $color_orange;
$header__nav_highlight-bgcolor: $color_tiffany;
$header__nav_highlight-color: $color-white;
$header__nav_highlight-fs: $font-size_l;
$header__nav_link-color: $color_darkest-grey;
$header__nav_link-fs: $font-size_s;
$header__nav_link-boradius: $global_border-radius;
$header__nav_bcolor: $color_lightest-grey;
$header__nav_gap: $global_grid-gap;

.c-header__nav {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
}

.c-header__nav-list {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
}

.c-header__nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 1px;
  
  &--bordered {
    border-left: 1px solid $header__nav_bcolor;
    padding: 0 $header__nav_gap;
    margin-left: $header__nav_gap;
  }
}

.c-header__nav-link {
  font-size: $header__nav_link-fs;
  color: $header__nav_link-color;
  text-transform: uppercase;
  padding: 0.7rem $header__nav_gap / 2;
  border: 1px solid transparent;
  border-radius: $header__nav_link-boradius;
  transition: all 0.2s;
  
  &--highlight {
    font-size: $header__nav_highlight-fs;
    background: $header__nav_highlight-bgcolor;
    color: $header__nav_highlight-color;
    line-height: 1.1;
  }
  
  &:not(&--highlight):hover {
    border-color: $header__nav_accent-color;
    color: $header__nav_accent-color;
  }
}