$header__bgcolor: $color_white;
$header__link-color: $color_darkest-grey;
$header__accent-color: $color_orange;
$header__link-fs: $font-size_s;
$header__bcolor: $color_lightest-grey;
$header__gap: $global_grid-gap;

.c-header {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  background: $header__bgcolor;
}

.c-header__item {
  flex: 0 0 auto;
}

//
//.c-header {
//  display: flex;
//  align-items: center;
//  justify-content: space-between;
//  background: $header__bgcolor;
//}
//
//.c-header__logo-holder {
//  padding: 0 $header__gap;
//  border-right: 1px solid $header__bcolor;
//}
//
//
//.c-header__logo-image {
//  height: 6rem;
//}
//
//
//.c-header__nav {
//  flex: 1 0 auto;
//}
