$intro__color: $color_white;
$intro__heading-fs: $font-size_xxl;
$intro__highlight-fs: $font-size_xl;

.c-intro {
  padding: 7rem 0;
  background: url(../assets/images/map.svg) center center no-repeat;
  background-size: cover;
}

.c-intro__heading,
.c-intro__highlight {
  color: $intro__color;
  text-align: center;
}

.c-intro__heading {
  font-size: $intro__heading-fs;
  margin: 0 0 5.6rem 0;
}

.c-intro__highlight {
  font-size: $intro__highlight-fs;
  font-weight: 300;
  padding: 3.8rem 0 3rem 0;
}