$tab__tab-fs: $font-size_l;
$tab__tab-color: $color_darker-greyblue;
$tab__tab-color--active: $color_middle-greyblue;
$tab__sub-heading-color: rgba(#979797, 0.44);
$tab__sub-heading-color--active: rgba($color_middle-greyblue, 0.44);
$tab__sub-heading-fs: $font-size_xxs;
$tab__bcolor: $color_lightest-grey;
$tab__bgcolor: $color_lightest-greyblue;
$tab__bgcolor--hover: $color_lighter-greyblue;
$tab__bgcolor--active: #55657f;
$tab__boradius: $global_border-radius;

.c-tabs {
  display: flex;
  height: 5rem;
  margin-top: -5rem;
}

.c-tabs__item {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-left: 1px solid $tab__bcolor;
  
  &:first-child {
    border-top-left-radius: $tab__boradius;  
    border-left: none;
  }
  
  &:last-child {
    border-top-right-radius: $tab__boradius;  
  }
}

.c-tabs__tab {
  position: relative;
  height: 100%;
  font-size: $tab__tab-fs;
  font-weight: normal;
  line-height: 1.4;
  color: $tab__tab-color;
  background: $tab__bgcolor;
  text-transform: uppercase;
  border: none;
  border-radius: inherit;
  border-bottom: 1px solid $tab__bcolor;
  
  &:not([aria-selected='true']):hover {
    cursor: pointer;
    background: $tab__bgcolor--hover;
  }
  
  &[aria-selected='true'] {
    color: $tab__tab-color--active; 
    background: $tab__bgcolor--active;
    border-bottom-color: $tab__bgcolor--active;
    
    &:after {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 10px 0 10px;
      border-color: $tab__bgcolor--active transparent transparent transparent;
      bottom: 0;
      left: 50%;
      position: absolute;
      transform: translateX(-50%) translateY(100%);
    }
    
    .c-tab__subheading {
      display: none;
      
      &--active {
        color: $tab__sub-heading-color--active;
        display: block;
        
        @include bp-mobile {
          display: none;
        }
      }
    }
  }
  
  @include bp-mobile {
    font-size: 1rem;
  }
}

.c-tab__subheading {
  display: block;
  font-size: $tab__sub-heading-fs;
  color: $tab__sub-heading-color;
  
  &--active {
    display: none;
  }
  
  @include bp-mobile {
    display: none;
  }
}

.c-tabs__panel {
  &[aria-hidden='true'] {
    display: none;
  }
}