<div class="c-box">
  <div class="c-box__body o-grid">
    <div class="o-grid__item u-align--center">
      <img src="assets/images/payment-itunes.png" alt="">
      <h3>Gift cards</h3>
      <p class="u-small">
        Want to buy $20 of bitcoin fast? Gift cards are accepted. Buy one with cash (save the receipt too) at your local drugstore and exchange it here for instant bitcoin. 
      </p>
      <p class="u-small"><a href="">Amazon Gift Card</a></p>
      <p class="u-small"><a href="">Vanilla Visa Gift Card </a></p>
      <p class="u-small"><a href="">iTunes Gift Card </a></p>
      <p class="u-small"><a href="">Visa Gift Card</a></p>
      <a href="" class="c-button c-button--secondary">View all</a>
    </div>
    <div class="o-grid__item u-align--center">
      <img src="assets/images/payment-western-union.png" alt="">
      <h3>Gift cards</h3>
      <p class="u-small">
        Want to buy $20 of bitcoin fast? Gift cards are accepted. Buy one with cash (save the receipt too) at your local drugstore and exchange it here for instant bitcoin. 
      </p>
      <p class="u-small"><a href="">Amazon Gift Card</a></p>
      <p class="u-small"><a href="">Vanilla Visa Gift Card </a></p>
      <p class="u-small"><a href="">iTunes Gift Card </a></p>
      <p class="u-small"><a href="">Visa Gift Card</a></p>
      <a href="" class="c-button c-button--secondary">View all</a>
    </div>
    <div class="o-grid__item u-align--center">
      <img src="assets/images/payment-paypal.png" alt="">
      <h3>Gift cards</h3>
      <p class="u-small">
        Want to buy $20 of bitcoin fast? Gift cards are accepted. Buy one with cash (save the receipt too) at your local drugstore and exchange it here for instant bitcoin. 
      </p>
      <p class="u-small"><a href="">Amazon Gift Card</a></p>
      <p class="u-small"><a href="">Vanilla Visa Gift Card </a></p>
      <p class="u-small"><a href="">iTunes Gift Card </a></p>
      <p class="u-small"><a href="">Visa Gift Card</a></p>
      <a href="" class="c-button c-button--secondary">View all</a>
    </div>
    <div class="o-grid__item u-align--center">
      <img src="assets/images/payment-cards.png" alt="">
      <h3>Gift cards</h3>
      <p class="u-small">
        Want to buy $20 of bitcoin fast? Gift cards are accepted. Buy one with cash (save the receipt too) at your local drugstore and exchange it here for instant bitcoin. 
      </p>
      <p class="u-small"><a href="">Amazon Gift Card</a></p>
      <p class="u-small"><a href="">Vanilla Visa Gift Card </a></p>
      <p class="u-small"><a href="">iTunes Gift Card </a></p>
      <p class="u-small"><a href="">Visa Gift Card</a></p>
      <a href="" class="c-button c-button--secondary">View all</a>
    </div>
  </div>
</div>