<div class="c-box">
  <div class="c-box__body o-grid">
    <div class="o-grid__item u-align--center">
      <div class="c-paymethod-icon">
        <img src="assets/images/payment-itunes.png" alt="iTunes gift card" class="c-paymethod-icon__image">
      </div>
      <h3>Gift cards</h3>
      <p class="u-small">
        Want to buy $20 of bitcoin fast? Gift cards are accepted. Buy one with cash (save the receipt too) at your local drugstore and exchange it here for instant bitcoin. 
      </p>
      <ul class="c-link-list">
        <li><a href="">Amazon Gift Card</a></li>
        <li><a href="">Vanilla Visa Gift Card </a></li>
        <li><a href="">iTunes Gift Card </a></li>
        <li><a href="">Visa Gift Card</a></li>
      </ul>
      <a href="" class="c-button c-button--secondary">View all</a>
    </div>
    <div class="o-grid__item u-align--center">
      <div class="c-paymethod-icon">
        <img src="assets/images/payment-western-union.png" alt="Western Union" class="c-paymethod-icon__image">
      </div>
      <h3>Gift cards</h3>
      <p class="u-small">
        Want to buy $20 of bitcoin fast? Gift cards are accepted. Buy one with cash (save the receipt too) at your local drugstore and exchange it here for instant bitcoin. 
      </p>
      <ul class="c-link-list">
        <li><a href="">Amazon Gift Card</a></li>
        <li><a href="">Vanilla Visa Gift Card </a></li>
        <li><a href="">iTunes Gift Card </a></li>
        <li><a href="">Visa Gift Card</a></li>
      </ul>
      <a href="" class="c-button c-button--secondary">View all</a>
    </div>
    <div class="o-grid__item u-align--center">
      <div class="c-paymethod-icon">
        <img src="assets/images/payment-paypal.png" alt="Paypal" class="c-paymethod-icon__image">
      </div>
      <h3>Gift cards</h3>
      <p class="u-small">
        Want to buy $20 of bitcoin fast? Gift cards are accepted. Buy one with cash (save the receipt too) at your local drugstore and exchange it here for instant bitcoin. 
      </p>
      <ul class="c-link-list">
        <li><a href="">Amazon Gift Card</a></li>
        <li><a href="">Vanilla Visa Gift Card </a></li>
        <li><a href="">iTunes Gift Card </a></li>
        <li><a href="">Visa Gift Card</a></li>
      </ul>
      <a href="" class="c-button c-button--secondary">View all</a>
    </div>
    <div class="o-grid__item u-align--center">
      <div class="c-paymethod-icon">
        <img src="assets/images/payment-cards.png" alt="Debit cards" class="c-paymethod-icon__image">
      </div>
      <h3>Gift cards</h3>
      <p class="u-small">
        Want to buy $20 of bitcoin fast? Gift cards are accepted. Buy one with cash (save the receipt too) at your local drugstore and exchange it here for instant bitcoin. 
      </p>
      <ul class="c-link-list">
        <li><a href="">Amazon Gift Card</a></li>
        <li><a href="">Vanilla Visa Gift Card </a></li>
        <li><a href="">iTunes Gift Card </a></li>
        <li><a href="">Visa Gift Card</a></li>
      </ul>
      <a href="" class="c-button c-button--secondary">View all</a>
    </div>
  </div>
</div>