<ul class="c-tabs" role="tablist">
  <li class="c-tabs__item">
    <button class="c-tabs__tab js-tab" role="tab" aria-controls="panel1" aria-selected="true" tabindex="0">
      <small class="c-tab__subheading">Select</small>
      <small class="c-tab__subheading c-tab__subheading--active">Selected</small>
      Most popular
    </button>
  </li>
  <li class="c-tabs__item">
    <button class="c-tabs__tab js-tab" role="tab" aria-controls="panel2" aria-selected="false" tabindex="0">
      <small class="c-tab__subheading">Select</small>
      <small class="c-tab__subheading c-tab__subheading--active">Selected</small>
      Best price
    </button>
  </li>
  <li class="c-tabs__item">
    <button class="c-tabs__tab js-tab" role="tab" aria-controls="panel3" aria-selected="false" tabindex="0">
      <small class="c-tab__subheading">Select</small>
      <small class="c-tab__subheading c-tab__subheading--active">Selected</small>
      Fastest transfer
    </button>
  </li>
  <li class="c-tabs__item">
    <button class="c-tabs__tab js-tab" role="tab" aria-controls="panel4" aria-selected="false" tabindex="0">
      <small class="c-tab__subheading">Select</small>
      <small class="c-tab__subheading c-tab__subheading--active">Selected</small>
      Most private
    </button>
  </li>
  <li class="c-tabs__item">
    <button class="c-tabs__tab js-tab" role="tab" aria-controls="panel5" aria-selected="false" tabindex="0">
      <small class="c-tab__subheading">Select</small>
      <small class="c-tab__subheading c-tab__subheading--active">Selected</small>
      Best sellers
    </button>
  </li>
</ul>