<div class="c-checkbox">
  <input type="checkbox" id="no_id">
  <label for="no_id">No ID required</label>
</div>
<div class="c-checkbox">
  <input type="checkbox" id="cash_only">
  <label for="cash_only">Cash only</label>
</div>
<div class="c-checkbox">
  <input type="checkbox" id="ecodes">
  <label for="ecodes">e-Codes accepted</label>
</div>
<div class="c-checkbox">
  <input type="checkbox" id="inactive">
  <label for="inactive">Inactive</label>
</div>
<a href="" class="c-checkbox__clear u-onlydesktop">Show all</a>