<header class="c-header">
  <a href="" class="c-header__logo">
    <img srcset="assets/images/logo@2x.png 2x" src="assets/images/logo.png" alt="Return to Paxful homepage" class="c-header__image">
  </a>
  
  <nav class="c-header__nav c-nav">
    <ul class="c-nav__list">
      <li class="c-nav__item">
        <a href="" class="c-nav__link c-button c-button--primary c-button--highlight">
          Buy bitcoin
          <span class="icon icon--arrow-down" aria-hidden="true">
            <span class="u-visuallyhidden">Open dropdown</span>
          </span>
        </a>
      </li>
      <li class="c-nav__item">
        <a href="" class="c-nav__link">Dashboard</a>
      </li>
      <li class="c-nav__item">
        <a href="" class="c-nav__link">Wallet</a>
      </li>
      <li class="c-nav__item">
        <a href="" class="c-nav__link">
          Help
          <span class="icon icon--arrow-down" aria-hidden="true">
            <span class="u-visuallyhidden">Open dropdown</span>
          </span>
        </a>
      </li>
      <li class="c-nav__item">
        <a href="" class="c-nav__link"></a>
      </li>
      <li class="c-nav__item">
        <a href="" class="c-nav__link"></a>
      </li>
    </ul>
  </nav>
</header>