<header class="hmpg-header">
  <nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img alt="Paxful" srcset="assets/images/logo@2x.png 2x" src="assets/images/logo.png" >
          </a>
        </div>
        
        <ul class="nav navbar-nav navbar-center hidden-xs hidden-sm">
          <li><a href="#" class="btn">Buy bitcoins</a></li>
          <li><a href="#about">Sell bitcoins</a></li>
          <li><a href="#contact">Wallet</a></li>
          <li><a href="#contact">For business</a></li>
          <li><a href="#contact">Support</a></li>
        </ul>
         
        <ul class="nav navbar-nav navbar-right hidden-xs hidden-sm">
          <li><a href="#">Log In</a></li>
          <li><a href="#contact">Register</a></li>
        </ul>
      </div>
    </nav>
</header>