<article class="c-box">
  <header class="c-box__header">
<!--    tabs go here -->
  </header>
  <div class="c-box__body">
    <form action="" class="c-form c-form--intro">
      <div class="c-form__row">
        <div class="c-form__control">
          <input type="text" id="amount" name="bc_amount" placeholder="Choose amount">
          <label for="amount" class="u-visuallyhidden">Choose amount:</label>
        </div>
        <div class="c-form__control">
          <select class="c-select" id="currency">
            <option value="" default selected>Select currency</option>
            <option value="EUR">Euro</option>
            <option value="USD">US dollar</option>
            <option value="GBP">British pound</option>
            <option value="JPY">Japanese yen</option>
          </select>
          <label for="currency" class="u-visuallyhidden">Choose currency:</label>
        </div>
        <div class="c-form__control">
          <select class="c-select" id="paymethod">
            <option value="" default selected>Select payment method</option>
            <option value="EUR">Euro</option>
            <option value="USD">US dollar</option>
            <option value="GBP">British pound</option>
            <option value="JPY">Japanese yen</option>
          </select>
          <label for="paymethod" class="u-visuallyhidden">Select payment method:</label>
        </div>
        <div class="c-form__control c-form__control--inflexible u-onlydesktop">
            <button type="submit" class="c-button c-button--primary c-button--fixedsize">Search</button>
        </div>
      </div>
      <div class="c-form__row u-nospace--bottom">
        {% include 'partials/_form.checkbox-row.twig' %}  
      </div>
      <div class="c-form__row u-onlymobile">
        <button type="submit" class="c-button c-button--primary c-button--fixedsize">Search</button>
      </div>
    </form>
  </div>
  <footer class="c-box__footer u-align--right">
    <div class="c-location">
      <p class="c-location__current">
        <span class="icon icon--location" aria-hidden="true">
          <span class="u-visuallyhidden">Open dropdown</span>
        </span>
        I'm in Estonia
      </p>
      <a href="" class="c-location__change-link js-change-location">Change</a>
    </div>
  </footer>
</article>