<table class="c-dtable">
  <thead>
    <tr>
      <th>Seller</th>
      <th>Payment method</th>
      <th class="u-align--center">
        <a href="" class="c-dtable__filter-link">
          Min. amount
          <span class="icon icon--sort" aria-hidden="true">
            <span class="u-visuallyhidden">Open dropdown</span>
          </span>
        </a>
      </th>
      <th class="u-align--center">
        <a href="" class="c-dtable__filter-link">
          Fee
          <span class="icon icon--sort" aria-hidden="true">
            <span class="u-visuallyhidden">Open dropdown</span>
          </span>
        </a>
      </th>
      <th>
        <a href="" class="c-dtable__filter-link">
          Reputation
          <span class="icon icon--sort" aria-hidden="true">
            <span class="u-visuallyhidden">Open dropdown</span>
          </span>
        </a>
      </th>
      <th>
        <span class="u-visuallyhidden">Actions</span>
      </th>
    </tr>
    <tbody>
      <tr class="c-dtable__row">
        <td>
          IvanRussia13
          <span class="c-dtable__note">Estonia</span>
        </td>
        <td>
          iTunes Gift Card
          <div class="u-onlydesktop">
            <span class="c-tag">Cash accepted</span>
            <span class="c-tag">Fast release</span>
          </div>
        </td>
        <td class="u-align--center">
          50$
        </td>
        <td class="u-align--center">
          20%
        </td>
        <td>
          {% include 'partials/_element.reputation.twig' %}  
        </td>
        <td>
          <a href="" class="c-button c-button--primary c-button--fixedsize">Buy</a>
        </td>
      </tr>
      <tr class="c-dtable__row">
        <td>
          somecoolname
          <span class="c-dtable__note">Russia</span>
        </td>
        <td>
          PayPal
          <div class="u-onlydesktop">
            <span class="c-tag">Cash accepted</span>
          </div>
        </td>
        <td class="u-align--center">
          500$
        </td>
        <td class="u-align--center">
          20%
        </td>
        <td>
          {% include 'partials/_element.reputation.twig' %}  
        </td>
        <td>
          <a href="" class="c-button c-button--primary c-button--fixedsize">Buy</a>
        </td>
      </tr>
      <tr class="c-dtable__row">
        <td>
          ElliotNG
          <span class="c-dtable__note">Unated States</span>
        </td>
        <td>
          Amazon Gift Card
          <span class="c-dtable__note">Only for the best</span>
        </td>
        <td class="u-align--center">
          50$
        </td>
        <td class="u-align--center">
          20%
        </td>
        <td>
          {% include 'partials/_element.reputation.twig' %}  
        </td>
        <td>
          <a href="" class="c-button c-button--primary c-button--fixedsize">Buy</a>
        </td>
      </tr>
      <tr class="c-dtable__row">
        <td>
          IvanRussia13
          <span class="c-dtable__note">Estonia</span>
        </td>
        <td>
          iTunes Gift Card
          <div class="u-onlydesktop">
            <span class="c-tag">USA only</span>
          </div>
        </td>
        <td class="u-align--center">
          10$
        </td>
        <td class="u-align--center">
          2%
        </td>
        <td>
          {% include 'partials/_element.reputation.twig' %}  
        </td>
        <td>
          <a href="" class="c-button c-button--primary c-button--fixedsize">Buy</a>
        </td>
      </tr>
      <tr class="c-dtable__row">
        <td>
          Janar12Palk
          <span class="c-dtable__note">Estonia</span>
        </td>
        <td>
          iTunes Gift Card
          <div class="u-onlydesktop">
            <span class="c-tag">Cash accepted</span>
            <span class="c-tag">Photo ID required</span>
          </div>
        </td>
        <td class="u-align--center">
          100$
        </td>
        <td class="u-align--center">
          20%
        </td>
        <td>
          {% include 'partials/_element.reputation.twig' %}  
        </td>
        <td>
          <a href="" class="c-button c-button--primary c-button--fixedsize">Buy</a>
        </td>
      </tr>
      <tr class="c-dtable__row">
        <td>
          IvanRussia13
          <span class="c-dtable__note">Estonia</span>
        </td>
        <td>
          iTunes Gift Card
          <span class="c-dtable__note">Only for US accounts</span>
        </td>
        <td class="u-align--center">
          50$
        </td>
        <td class="u-align--center">
          20%
        </td>
        <td>
          {% include 'partials/_element.reputation.twig' %}  
        </td>
        <td>
          <a href="" class="c-button c-button--primary c-button--fixedsize">Buy</a>
        </td>
      </tr>
    </tbody>
  </thead>
</table>