<table class="c-dtable c-dtable--lighter">
  <thead>
    <tr>
      <th>Payment method</th>
      <th>Seller</th>
      <th>Fee</th>
      <th>
        <span class="u-visuallyhidden">Actions</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="c-dtable__row">
      <td>
        <div class="o-media">
          <div class="o-media__figure">
            <div class="c-paymethod-icon">
              <img src="assets/images/payment-itunes.png" alt="Paypal" class="c-paymethod-icon__image">   
            </div>
          </div>
          <div class="o-media__body">
            <span>iTunes Gift Card</span>
            <span class="c-dtable__note">iTunes, inc</span>
          </div>
        </div>
      </td>
      <td>
        IvanRussia13
        <span class="c-dtable__note">Estonia</span>
      </td>
      <td>
        20%
      </td>
      <td>
        <a href="" class="c-button c-button--primary">Select</a>
        <a href="" class="c-dtable__action-link">
          <span class="icon icon--share" aria-hidden="true">
            <span class="u-visuallyhidden">Share option</span>
          </span>
          Share
        </a>
      </td>
    </tr>
    <tr class="c-dtable__row">
      <td>
        <div class="o-media">
          <div class="o-media__figure">
            <div class="c-paymethod-icon">
              <img src="assets/images/payment-amazon-card.png" alt="Paypal" class="c-paymethod-icon__image">   
            </div>
          </div>
          <div class="o-media__body">
            <span>Amazon Gift Card</span>
            <span class="c-dtable__note">Amazon, inc</span>
          </div>
        </div>
      </td>
      <td>
        VegamamaRocks
        <span class="c-dtable__note">United States</span>
      </td>
      <td>
        15%
      </td>
      <td>
        <a href="" class="c-button c-button--primary">Select</a>
        <a href="" class="c-dtable__action-link">
          <span class="icon icon--share" aria-hidden="true">
            <span class="u-visuallyhidden">Share option</span>
          </span>
          Share
        </a>
      </td>
    </tr>
    <tr class="c-dtable__row">
      <td>
        <div class="o-media">
          <div class="o-media__figure">
            <div class="c-paymethod-icon">
              <img src="assets/images/payment-paypal.png" alt="Paypal" class="c-paymethod-icon__image">   
            </div>
          </div>
          <div class="o-media__body">
            <span>Pay Pal Online</span>
            <span class="c-dtable__note">PayPal, inc</span>
          </div>
        </div>
      </td>
      <td>
        ElliotMC
        <span class="c-dtable__note">Nigeria</span>
      </td>
      <td>
        9.5%
      </td>
      <td>
        <a href="" class="c-button c-button--primary">Select</a>
        <a href="" class="c-dtable__action-link">
          <span class="icon icon--share" aria-hidden="true">
            <span class="u-visuallyhidden">Share option</span>
          </span>
          Share
        </a>
      </td>
    </tr>
  </tbody>
    
</table>