<table class="c-dtable">
  <tr>
    <th>Payment method</th>
    <th>Seller</th>
    <th>Fee</th>
    <th>
      <span class="u-visuallyhidden">Actions</span>
    </th>
  </tr>
  <tr class="c-dtable__row">
    <td>some text</td>
    <td>some text</td>
    <td>some text</td>
    <td>some text</td>
  </tr>
    
</table>