.o-media {
  display: flex;
  align-items: flex-start;
  
  &--reversed {
    flex-direction: row-reverse;
  }
}

.o-media__figure {
  margin-right: 1em;
}

.o-media__body {
  
}

.o-media__actions {
  margin-left: 1em;
}