// Extremes
$color_white: #fff;
$color_black: #000;

// Blue greys
$color_lightest-greyblue: #f8fafa;
$color_lighter-greyblue: #f1f4f8;
$color_middle-greyblue: #7f8fa4;
$color_darker-greyblue: #7f8fa4;
$color_darkest-greyblue: #354052;

// Pure greys
$color_lightest-grey: #dfe2e5;
$color_lighter-grey: #b2b2b2;
$color_middle-grey: #9b9b9b;
$color_darker-grey: #4e4e4e;
$color_darkest-grey: #444;

// Pure colours 
$color_tiffany: #00c09a;
$color_blue: #3d85c6;
$color_blue: #2ea2f8;
$color_red: #d0011b;
$color_green: #7ed321;
$color_orange: #c63;
