@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Raleway:700');

@font-face {
  font-family: font-icons;
  src: url(../assets/fonts/font-icons.eot);
  src: url(../assets/fonts/font-icons.eot) format('embedded-opentype'),
       url(../assets/fonts/font-icons.woff) format('woff'),
       url(../assets/fonts/font-icons.ttf) format('truetype'),
       url(../assets/fonts/font-icons.svg) format('svg');
  font-weight: 400;
  font-style: normal;
}