$form-input__bcolor: #dfe3e9;
$form-input__boradius: $global_border-radius;
$form-input-placeholder__color: rgba($color_darkest-greyblue, 0.5);

input[type="text"],
input[type="email"],
input[type="number"],
input[type="url"],
select {
  height: 3.6rem;
  width: 100%;
  max-width: 24.5rem;
  padding: 0 1.5rem;
  border-radius: $form-input__boradius;
  border: 1px solid $form-input__bcolor;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  opacity: 1;
  color: $form-input-placeholder__color;
}

::-moz-placeholder { /* Firefox 19+ */
  opacity: 1;
  color: $form-input-placeholder__color;
}

:-ms-input-placeholder { /* IE 10+ */
  opacity: 1;
  color: $form-input-placeholder__color;
}

:-moz-placeholder { /* Firefox 18- */
  opacity: 1;
  color: $form-input-placeholder__color;
}