// Page

$body_fs: $font-size_s;
$body_bgcolor: $color_lightest-greyblue;
$body_color: $color_darkest-greyblue;

html, 
body {
  height: 100%;
  width: 100%;
}

html {
  color: $body_color;
  font-size: 62.5%;
  line-height: 1.5;
}

body {
  font-size: $body_fs;
  font-family: 'Source Sans Pro', sans-serif;
  background: $body_bgcolor;
}

