// Utilities

$utility__fs-xsmall: $font-size_xxs;
$utility__fs-small: $font-size_xs;

/* Hide visually but not from screen readers */
/* you can't see it, but it's there */
.u-visuallyhidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

.u-spacer {
  margin-bottom: 1rem;
}

.u-noscroll {
  overflow: hidden;
}

.u-nospace--bottom {
  padding-bottom: 0;
}

.u-uppercase {
  text-transform: uppercase;
}

.u-font--normal {
  font-weight: normal;
}

.u-align--right {
  text-align: right;
}

.u-align--left {
  text-align: left;
}

.u-align--center {
  text-align: center;
}

.u-flex {
  display: flex;
}

.u-small {
  font-size: $utility__fs-small;
}

.u-xsmall {
  font-size: $utility__fs-xsmall;
}

.u-onlymobile {
  display: none;
  
  @include bp-mobile {
    display: inherit;
  }
}

.u-onlydesktop {
  display: inherit;
  
  @include bp-mobile {
    display: none;
  }
}